/resources/email/*.json linguist-detectable=true
/resources/email/*.sh linguist-detectable=true
/resources/email/*.html linguist-detectable=true
/resources/pdv/*.sh linguist-detectable=true
/resources/report/*.sh linguist-detectable=true
/resources/sqlite3/*.sh linguist-detectable=true
/resources/sqlite3/*.db linguist-detectable=true
/resources/sqlite3/sql/*.sql linguist-detectable=true
/resources/util/*.sh linguist-detectable=true
/resources/util/*.go linguist-detectable=true
/resources/email/*.json linguist-detectable=true